.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.grid-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grid-column input {
    width: 100%;
}

#order {
    height: 300px;
}

.permit-group {
    display: flex;
}

.permit-group .predicate {
    flex: 1
}

.common-container {
    display: flex;
    flex-direction: column;
}


